@import '../../../stylesheets/_vars.scss';

.colapStyle {
  background: transparent !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 10px !important;
  margin: 0;
  color: black !important;
  width: 100%;
  height: 100%;
  padding: 15px 20px !important;
  text-align: initial;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 14px 28px, rgba(0, 0, 0, 0.22) 0 10px 10px;
    transition: all 0.2s ease-in;
    transform: scale(1.05);
  }

  .imageWidth {
    max-width: 60px;
    width: 100%;
  }

  &.disabledCard {
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
      transition: none;
      transform: none;
    }
  }
}

.gcPointer {
  cursor: pointer;
}

.fontLight {
  font-family: MyRalewayLight, sans-serif;
}

.fontBold {
  font-family: MyRalewayBold, sans-serif;
}

.blueHr {
  border-top: 2px solid #529cd5;
  width: 100%;
}

.bluePlus {
  font-family: MyRalewayBold, sans-serif;
  color: #529cd5;
  font-size: 1.5rem;
  cursor: pointer;

  &.disBlue {
    color: rgb(166, 164, 164);
    cursor: default;
  }
}
